## Load the dataset

In [40]:
# Reading the data
import pandas as pd
import numpy as np
import csv
import scipy.io as sio
import matplotlib.pyplot as plt
from scipy import stats
import re
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline

train_data = pd.read_csv('../Datasets/preprocessed_dataset.csv', index_col=0 )

In [247]:

# define example
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(data)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
print(inverted)

['shetland sheepdog' 'domestic shorthair' 'pit bull' 'lhasa apso'
 'cairn terrier' 'american pit bull terrier' 'miniature schnauzer'
 'yorkshire terrier' 'great pyrenees' 'angora' 'flat coat retriever'
 'queensland heeler' 'plott hound' 'german shepherd'
 'american staffordshire terrier' 'chihuahua shorthair' 'russian blue'
 'labrador retriever' 'collie smooth' 'domestic longhair' 'beagle'
 'blue lacy' 'black mouth cur' 'dachshund' 'maltese' 'pointer'
 'english foxhound' 'vizsla' 'cardigan welsh corgi' 'chow chow' 'siamese'
 'domestic medium hair' 'boxer' 'border collie' 'border terrier'
 'dogo argentino' 'tibetan terrier' 'miniature pinscher' 'rat terrier'
 'dachshund longhair' 'siberian husky' 'australian cattle dog' 'catahoula'
 'miniature poodle' 'jack russell terrier' 'doberman pinsch' 'whippet'
 'australian shepherd' 'english pointer' 'great dane' 'chesa bay retr'
 'basset hound' 'airedale terrier' 'manx' 'cocker spaniel'
 'chihuahua longhair' 'rottweiler' 'shih tzu' 'anatol shepherd'
 'chinese sharpei' 'akita' 'american bulldog' 'bernese mountain dog'
 'english bulldog' 'dachshund wirehair' 'exotic shorthair'
 'black tan hound' 'norfolk terrier' 'scottish terrier' 'devon rex'
 'treeing walker coonhound' 'rhod ridgeback' 'snowshoe' 'harrier'
 'australian kelpie' 'mexican hairless' 'redbone hound' 'afghan hound'
 'swedish vallhund' 'papillon' 'west highland' 'shiba inu' 'beauceron'
 'pekingese' 'maine coon' 'schipperke' 'burmese' 'collie rough'
 'staffordshire' 'silky terrier' 'bruss griffon' 'pug' 'boerboel'
 'golden retriever' 'bengal' 'bichon frise' 'manchester terrier'
 'english setter' 'pomeranian' 'greater swiss mountain dog'
 'american shorthair' 'bull terrier' 'pembroke welsh corgi' 'toy poodle'
 'bullmastiff' 'smooth fox terrier' 'old english bulldog' 'ibizan hound'
 'boston terrier' 'brittany' 'newfoundland' 'parson russell terrier'
 'carolina dog' 'mastiff' 'st. bernard rough coat'
 'german shorthair pointer' 'basenji' 'bloodhound' 'affenpinscher'
 'himalayan' 'norwich terrier' 'greyhound' 'ragdoll' 'boykin span'
 'weimaraner' 'skye terrier' 'schnauzer giant' 'alaskan husky'
 'belgian malinois' 'american eskimo' 'italian greyhound'
 'irish wolfhound' 'wire hair fox terrier' 'landseer' 'bombay'
 'st. bernard smooth coat' 'standard schnauzer' 'english springer spaniel'
 'alaskan malamute' 'french bulldog' 'persian' 'cavalier span'
 'soft coated wheaten terrier' 'kuvasz' 'american foxhound'
 'podengo pequeno' 'leonberger' 'english shepherd' 'cornish rex'
 'standard poodle' 'dutch shepherd' 'dalmatian' 'balinese'
 'english coonhound' 'old english sheepdog' 'jindo' 'welsh terrier'
 'javanese' 'finnish spitz' 'field spaniel' 'keeshond' 'irish setter'
 'picardy sheepdog' 'patterdale terr' 'german wirehaired pointer'
 'havanese' 'british shorthair' 'unknown' 'bulldog' 'pharaoh hound'
 'bearded collie' 'toy fox terrier' 'canaan dog' 'irish terrier'
 'treeing tennesse brindle' 'japanese bobtail' 'tibetan spaniel'
 'cane corso' 'pbgv' 'glen of imaal' 'australian terrier'
 'pixiebob shorthair' 'presa canario' 'chinese crested'
 'neapolitan mastiff' 'bedlington terr'
 'nova scotia duck tolling retriever' 'wirehaired pointing griffon'
 'feist' 'belgian sheepdog' 'samoyed' 'otterhound' 'tonkinese'
 'welsh springer spaniel' 'entlebucher' 'bull terrier miniature'
 'dogue de bordeaux' 'sphynx' 'bluetick hound' 'ocicat' 'sealyham terr'
 'abyssinian' 'munchkin longhair' 'japanese chin' 'saluki' 'turkish van'
 'hovawart' 'norwegian elkhound' 'norwegian forest cat' 'cymric'
 'german pinscher' 'port water dog' 'treeing cur' 'belgian tervuren'
 'spanish mastiff' 'lowchen' 'havana brown' 'swiss hound'
 'english cocker spaniel' 'spinone italiano' '' 'yorkshire' 'rex'
 'spanish water dog' 'borzoi']
[0 0 2 0 1 1 2 0 2 1]
[[1. 0. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]
['cold']

C:\Users\Sjoerd\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [20]:
train_data.head()

,Breed,Breed2,MixedBreed,isCat,Color,ColorPattern,Color2,ColorPattern2,AgeuponOutcome,OutcomeType,SexuponOutcome,Name
0,shetland sheepdog,NaN,True,0,Brown,NaN,White,NaN,365.0,Return_to_owner,Neutered Male,True
1,domestic shorthair,NaN,True,1,Cream,Tabby,NaN,NaN,365.0,Euthanasia,Spayed Female,True
2,pit bull,NaN,True,0,Blue,NaN,White,NaN,730.0,Adoption,Neutered Male,True
3,domestic shorthair,NaN,True,1,Blue,Cream,NaN,NaN,21.0,Transfer,Intact Male,False
4,lhasa apso,miniature poodle,False,0,Tan,NaN,NaN,NaN,730.0,Transfer,Neutered Male,False

In [147]:
values = train_data['Breed'].unique()

laberEncoder_X = LabelEncoder()
X[:,0] = laberEncoder_X.fit_transform(X[:,0])
transform = ColumnTransformer([("countries", OneHotEncoder(), [0])], remainder="passthrough")
X = transform.fit_transform(X)

In [232]:
values = pd.concat([train_data['Breed'], train_data['Breed2'].fillna('')]).unique()

#breedValues = (train_data[['Breed','Breed2']].fillna(''))

le = LabelEncoder()
le.fit(values)
breed1 = label_encoder.transform(train_data['Breed'].fillna(''))
breed1 = breed1.reshape(len(breed1), 1)
breed2 = le.transform(train_data['Breed2'].fillna(''))
breed2 = breed2.reshape(len(breed2), 1)

nummericBreeds = np.append(breed1,breed2, axis=1) #length of 26729
nummericBreedsUniques = np.unique(nummericBreeds) # Length of 224

onehot_encoder = OneHotEncoder(sparse=False)
#onehot_encoder = OneHotEncoder(categories=[nummericBreedsUniques]*len(nummericBreeds), sparse=False)
onehot_encoded =  onehot_encoder.fit_transform(nummericBreeds)
print(onehot_encoder.categories_)

[array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149., 150., 151., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.]), array([  0.,   2.,   4.,   5.,   6.,   7.,   8.,  10.,  11.,  13.,  14.,
        16.,  17.,  18.,  21.,  22.,  23.,  25.,  27.,  32.,  33.,  34.,
        35.,  36.,  40.,  41.,  42.,  43.,  44.,  46.,  47.,  48.,  49.,
        51.,  54.,  55.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  65.,
        66.,  67.,  68.,  69.,  72.,  73.,  74.,  75.,  77.,  79.,  80.,
        81.,  82.,  84.,  85.,  87.,  88.,  89.,  91.,  96.,  97.,  98.,
        99., 100., 101., 104., 105., 106., 108., 109., 111., 114., 118.,
       119., 120., 124., 126., 129., 132., 133., 134., 135., 137., 138.,
       139., 141., 142., 143., 147., 152., 153., 155., 156., 157., 158.,
       161., 163., 165., 166., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 180., 181., 182., 184., 185., 186., 187., 188., 190.,
       191., 193., 195., 198., 199., 200., 201., 202., 203., 208., 209.,
       212., 214., 215., 216., 218., 219., 220., 221., 223., 224.])]

C:\Users\Sjoerd\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [125]:
x = np.array([[3, 5, 1]])
_, n_features = np.shape(x)
n = 8
print(x)
ohe = OneHotEncoder(categories=[range(n)]*n_features, sparse=False)
o = ohe.fit_transform(x)
o = o.reshape(1, 3, 8)
print(o)

[[3 5 1]]
[[[0. 0. 0. 1. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0. 1. 0. 0.]
  [0. 1. 0. 0. 0. 0. 0. 0.]]]

In [19]:
#encoded = pd.DataFrame(onehot_encoder.fit_transform(train_data[['Breed', 'Breed2']].fillna('')), onehot_encoder=onehot_encoder.get_feature_names(['Breed', 'Breed2']))

#encoded = onehot_encoder.fit_transform(pd.DataFrame(onehot_encoder.fit_transform(train_data[['Breed', 'Breed2']]), columns=onehot_encoder.get_feature_names(['Breed', 'Breed2'])))
train_data.head()

,Breed,Breed2,MixedBreed,isCat,Color,ColorPattern,Color2,ColorPattern2,AgeuponOutcome,OutcomeType,SexuponOutcome,Name,breed
0,181,NaN,True,0,Brown,NaN,White,NaN,365.0,Return_to_owner,Neutered Male,True,181
1,80,NaN,True,1,Cream,Tabby,NaN,NaN,365.0,Euthanasia,Spayed Female,True,80
2,159,NaN,True,0,Blue,NaN,White,NaN,730.0,Adoption,Neutered Male,True,159
3,80,NaN,True,1,Blue,Cream,NaN,NaN,21.0,Transfer,Intact Male,False,80
4,127,miniature poodle,False,0,Tan,NaN,NaN,NaN,730.0,Transfer,Neutered Male,False,127

In [56]:

enc = LabelEncoder()
enc_train_data = pd.DataFrame() 
enc_train_data['Breed'] = enc.fit_transform(train_data['Breed'].fillna(''))
enc_train_data['Breed2'] = enc.fit_transform(train_data['Breed2'].fillna(''))
#enc_train_data['MixedBreed'] = enc.fit_transform(train_data['MixedBreed'].fillna(''))
enc_train_data['Color'] = enc.fit_transform(train_data['Color'].fillna(''))
enc_train_data['ColorPattern'] = enc.fit_transform(train_data['ColorPattern'].fillna(''))
enc_train_data['Color2'] = enc.fit_transform(train_data['Color2'].fillna(''))
enc_train_data['ColorPattern2'] = enc.fit_transform(train_data['ColorPattern2'].fillna(''))
#enc_train_data['OutcomeType'] = enc.fit_transform(train_data['OutcomeType'].fillna(''))
enc_train_data['SexuponOutcome'] = enc.fit_transform(train_data['SexuponOutcome'].fillna(''))
#enc_train_data['Name'] = enc.fit_transform(train_data['Name'].fillna(''))
#enc_train_data['AgeuponOutcome'] = enc.fit_transform(train_data['AgeuponOutcome'])

train_data.head()

,Breed,Breed2,MixedBreed,isCat,Color,ColorPattern,Color2,ColorPattern2,AgeuponOutcome,OutcomeType,SexuponOutcome,Name
0,shetland sheepdog,NaN,True,0,Brown,NaN,White,NaN,365.0,Return_to_owner,Neutered Male,True
1,domestic shorthair,NaN,True,1,Cream,Tabby,NaN,NaN,365.0,Euthanasia,Spayed Female,True
2,pit bull,NaN,True,0,Blue,NaN,White,NaN,730.0,Adoption,Neutered Male,True
3,domestic shorthair,NaN,True,1,Blue,Cream,NaN,NaN,21.0,Transfer,Intact Male,False
4,lhasa apso,miniature poodle,False,0,Tan,NaN,NaN,NaN,730.0,Transfer,Neutered Male,False

In [61]:
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded =  onehot_encoder.fit_transform(enc_train_data)
print(enc_train_data.shape)
print(onehot_encoded.shape)
print(onehot_encoded)

(26729, 7)
(26729, 440)
[[0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

C:\Users\Sjoerd\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [86]:
encodedDataframe = pd.DataFrame(onehot_encoded)
encodedDataframe['MixedBreed'] = train_data['MixedBreed']
encodedDataframe['Name'] = train_data['Name']
encodedDataframe = encodedDataframe.astype(int)

encodedDataframe['AgeuponOutcome'] = train_data['AgeuponOutcome'].fillna(-1)
encodedDataframe['OutcomeType'] = enc.fit_transform(train_data['OutcomeType'].fillna(''))

In [80]:
encodedDataframe.to_csv('../Datasets/oneHotEncoded_dataset.csv')

In [87]:
encodedDataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,434,435,436,437,438,439,MixedBreed,Name,AgeuponOutcome,OutcomeType
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,365.0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,365.0,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,730.0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,21.0,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,730.0,4

In [85]:
encodedDataframe.isnull().sum()

0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                 0
12                 0
13                 0
14                 0
15                 0
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                 0
28                 0
29                 0
                  ..
414                0
415                0
416                0
417                0
418                0
419                0
420                0
421                0
422                0
423                0
424                0
425                0
426                0
427                0
428                0
429                0
430                0
431                0
432                0
433                0
434                0
435                0
436                0
437                0
438                0
439                0
MixedBreed         0
Name               0
AgeuponOutcome    18
OutcomeType        0
Length: 444, dtype: int64